---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app apicurio-registry-operator
  namespace: schema-registry
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: apicurio-registry-operator
      version: 1.1.0
      sourceRef:
        kind: HelmRepository
        name: apicurio
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    nameOverride: *app
    fullnameOverride: *app
    replicaCount: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
