---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.94.1
      sourceRef:
        kind: HelmRepository
        name: tailscale-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    oauth:
      clientId:
        valueFrom:
          secretKeyRef:
            name: operator-oauth
            key: client_id
      clientSecret:
        valueFrom:
          secretKeyRef:
            name: operator-oauth
            key: client_secret
    installCRDs: "true"
    image:
      repository: docker.io/tailscale/k8s-operator
      tag: v1.94.1
    operatorConfig: {}
    proxyConfig:
      image:
        repository: tailscale/tailscale
        tag: v1.94.1
      firewallMode: auto
    apiServerProxyConfig:
      mode: "true" # "true", "false", "noauth"
