# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app console
  namespace: flux-system
spec:
  dependsOn:
    - name: redpanda-cluster
  targetNamespace: redpanda
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/operators/redpanda/console/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
