# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/service.json
---
apiVersion: v1
kind: Service
metadata:
  name: minio-ui
  namespace: networking
spec:
  type: ExternalName
  ports:
    - port: 9769
  externalName: 192.168.1.241
