---
apiVersion: remediation.medik8s.io/v1alpha1
kind: NodeHealthCheck
metadata:
  name: nodehealthcheck-proxmox-vms
spec:
  minHealthy: 51%
  selector:
    matchExpressions:
      - key: topology.kubernetes.io/zone
        operator: In
        values: ["pve"]
  unhealthyConditions:
    - type: Ready
      status: "False"
      duration: 300s
    - type: Ready
      status: Unknown
      duration: 300s
  escalatingRemediations:
    - order: 1
      remediationTemplate:
        apiVersion: self-node-remediation.medik8s.io/v1alpha1
        kind: SelfNodeRemediationTemplate
        name: selfnoderemediationtemplate-proxmox
        namespace: medik8s-system
      timeout: 300s
    - order: 2
      remediationTemplate:
        apiVersion: fence-agents-remediation.medik8s.io/v1alpha1
        kind: FenceAgentsRemediationTemplate
        name: fenceagentsremediationtemplate-proxmox
        namespace: medik8s-system
      timeout: 300s
