# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gatus
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  timeout: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      gatus:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          gatus:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.15.0
            env:
              TZ: America/Los_Angeles
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: [ALL]
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
    persistence:
      config:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
    service:
      gatus:
        controller: *app
        ports:
          http:
            port: *port
    ingress:
      gatus:
        className: istio
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          external-dns/is-public: "true"
        hosts:
          - host: &host status.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: *app
                  port: http
        tls:
          - hosts: [*host]
            secretName: gatus-tls
    configMaps:
      config:
        enabled: true
        data:
          config.yaml: |
            web:
              port: 8080
              address: 0.0.0.0
            metrics: true
            storage:
              type: memory
            endpoints:
              - name: HomeCluster
                group: Core
                url: https://home.${SECRET_DOMAIN}
                interval: 5m
                conditions:
                  - "[STATUS] == 200"
                  - "[RESPONSE_TIME] < 500"
              - name: Gitea
                group: Core
                url: https://gitea.${SECRET_DOMAIN}
                interval: 5m
                conditions:
                  - "[STATUS] == 200"
              - name: Immich
                group: Apps
                url: https://photos.${SECRET_DOMAIN}
                interval: 5m
                conditions:
                  - "[STATUS] == 200"
              - name: Authentik
                group: Core
                url: https://auth.${SECRET_DOMAIN}
                interval: 5m
                conditions:
                  - "[STATUS] == 200"
              - name: Grafana
                group: Monitoring
                url: https://grafana.${SECRET_DOMAIN}
                interval: 5m
                conditions:
                  - "[STATUS] == 200"
              - name: External DNS
                group: Infrastructure
                url: 1.1.1.1
                interval: 5m
                conditions:
                  - "[CONNECTED] == true"
