# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kiali
  namespace: istio-system
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: kiali-server
      version: 2.21.0 # datasource=helm depName=kiali-server repository=https://kiali.org/helm-charts
      sourceRef:
        kind: HelmRepository
        name: kiali
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    deployment:
      ingress:
        enabled: false
      pod_annotations:
        sidecar.istio.io/inject: "true"
    auth:
      strategy: anonymous
    external_services:
      prometheus:
        url: "http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090"
      grafana:
        internal_url: "http://grafana.monitoring.svc.cluster.local"
        external_url: "https://grafana.${SECRET_DOMAIN}"
        auth:
          type: bearer
          token: secret:grafana-kiali-token:token
        dashboards:
        - name: "Istio Service Dashboard"
          variables:
            datasource: "var-datasource"
            namespace: "var-namespace"
            service: "var-service"
        - name: "Istio Workload Dashboard"
          variables:
            datasource: "var-datasource"
            namespace: "var-namespace"
            workload: "var-workload"
        - name: "Istio Mesh Dashboard"
        - name: "Istio Control Plane Dashboard"
        - name: "Istio Performance Dashboard"
        - name: "Istio Wasm Extension Dashboard"
      tracing:
        enabled: true
        grpc_port: 9095
        internal_url: "http://tempo-query-frontend.monitoring.svc.cluster.local"
        provider: "tempo"
        use_grpc: true
