# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kiali
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: kiali-server
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: kiali
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    auth:
      strategy: anonymous
    server:
      port: 20001
      web_root: /kiali
    external_services:
      prometheus:
        url: http://prometheus-operated.monitoring.svc.cluster.local:9090
      grafana:
        enabled: true
        in_cluster_url: http://grafana.monitoring.svc.cluster.local:3000
        url: https://grafana.${SECRET_DOMAIN}
      tracing:
        enabled: true
        in_cluster_url: http://tempo.monitoring.svc.cluster.local:3100
        url: https://tempo.${SECRET_DOMAIN}
    istio_namespace: istio-system
    deployment:
      replicas: 1
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi
      ingress:
        enabled: true
        class_name: istio
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          external-dns/is-public: "true"
        hosts:
          - host: &host kiali.${SECRET_DOMAIN}
            paths:
              - path: /
                path_type: Prefix
        tls:
          - hosts: [*host]
            secretName: kiali-tls
