# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./base/ks.yaml
  - ./cni/ks.yaml
  - ./ztunnel/ks.yaml
  - ./istiod/ks.yaml
  - ./ambient-config/ks.yaml
  - ./kiali/ks.yaml
