---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./base/ks.yaml
  # - ./cni/ks.yaml  # Disabled CNI, using init containers instead
  - ./istiod/ks.yaml
  - ./kiali/ks.yaml
