#shellcheck disable=SC2148,SC2155
# export KUBECONFIG="$(expand_path ./opencode-kubeconfig)"
export KUBECONFIG="$(expand_path ~/.kube/config)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export K8S_AUTH_KUBECONFIG="$(expand_path ~/.kube/config)"

export PG_CONN_STR=postgres://tofu@tower:5432/tofu?sslmode=require
export PGSSLMODE="verify-full"

# Set paths to SSL certificates and keys
export PGSSLCERT="certs/client.crt"
export PGSSLKEY="certs/client.key"
export PGSSLROOTCERT="certs/ca.crt"
