# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
.venv*
# Taskfile
.tasks
provision/terraform/proxmox/terraform.tfstate
provision/terraform/proxmox/terraform.tfstate.backup
provision/terraform/proxmox/.terraform.lock.hcl
provision/terraform/proxmox/.terraform/providers/registry.terraform.io
provision/terraform/proxmox/api_credentials.auto.tfvars
/provision/terraform/proxmox/api-credentials.auto.tfvars
/provision/terraform/authentik/.terraform.lock.hcl
/provision/terraform/authentik/.terraform
/provision/terraform/authentik/api-credentials.auto.tfvars
/provision/terraform/authentik/terraform.tfstate
/provision/terraform/authentik/terraform.tfstate.backup
provision/terraform/infrastructure/.terraform/modules/kube-config.delete_files/
provision/terraform/infrastructure/.terraform/modules/kube-config.write_command_files/LICENSE
provision/terraform/infrastructure/.terraform/
provision/terraform/proxmox/.terraform/
provision/terraform/proxmox/outputs/
provision/terraform/proxmox/certs/
provision/terraform/proxmox/.terraform.lock.hcl
provision/terraform/proxmox/proxmox.auto.tfvars
provision/terraform/proxmox/output/
