# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
.venv*
# Taskfile
.tasks
provision/terraform/proxmox/terraform.tfstate
provision/terraform/proxmox/terraform.tfstate.backup
provision/terraform/proxmox/.terraform.lock.hcl
provision/terraform/proxmox/.terraform/providers/registry.terraform.io
provision/terraform/proxmox/api_credentials.auto.tfvars
/provision/terraform/proxmox/api-credentials.auto.tfvars
/provision/terraform/authentik/.terraform.lock.hcl
/provision/terraform/authentik/.terraform
/provision/terraform/authentik/api-credentials.auto.tfvars
/provision/terraform/authentik/terraform.tfstate
/provision/terraform/authentik/terraform.tfstate.backup
