# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  # Strimzi operator - commented out in favor of Redpanda
  # - ./strimzi/ks.yaml
  # Schema Registry - commented out, using Redpanda's built-in schema registry
  # - ./schema-registry/ks.yaml
