---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/image.toolkit.fluxcd.io/imagepolicy_v1beta2.json
# ImagePolicy for open-webui - follows main branch with digest pinning
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: open-webui-main
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: open-webui
  filterTags:
    pattern: '^main$'
  policy:
    alphabetical: {}
  interval: 5m
  digestReflectionPolicy: Always
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/image.toolkit.fluxcd.io/imagepolicy_v1beta2.json
# ImagePolicy for open-webui-pipelines - follows main branch with digest pinning
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: open-webui-pipelines-main
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: open-webui-pipelines
  filterTags:
    pattern: '^main$'
  policy:
    alphabetical: {}
  interval: 5m
  digestReflectionPolicy: Always
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/image.toolkit.fluxcd.io/imagepolicy_v1beta2.json
# ImagePolicy for immich-server - semver for stable releases
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: immich-server
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: immich-server
  policy:
    semver:
      range: '>=1.0.0'
  digestReflectionPolicy: IfNotPresent
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/image.toolkit.fluxcd.io/imagepolicy_v1beta2.json
# ImagePolicy for immich-machine-learning - semver for stable releases
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: immich-machine-learning
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: immich-machine-learning
  policy:
    semver:
      range: '>=1.0.0'
  digestReflectionPolicy: IfNotPresent
