---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg-postgis-cluster
  namespace: flux-system
spec:
  dependsOn:
    - name: cloudnative-pg
  targetNamespace: postgres
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app cloudnative-pg
  path: ./kubernetes/apps/postgres/postgis/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
