# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ./oauth-secret.sops.yaml
  - ./helmrelease.yaml
  - ./webhook.sops.yaml
  - ./virtualservice.yaml
  # - https://raw.githubusercontent.com/knative-extensions/monitoring/main/grafana/dashboards.yaml
  # - https://raw.githubusercontent.com/knative/docs/main/docs/serving/observability/metrics/collector.yaml
