---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: weave-gitops
spec:
  interval: 30m
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.36 # datasource=helm depName=weave-gitops repository=oci://ghcr.io/weaveworks/charts
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  timeout: 20m
  values:
    adminUser:
      create: false
    additionalArgs:
      - "--auth-methods=oidc"
    authMethods:
      - oidc
    ingress:
      enabled: false
    networkPolicy:
      create: false
    metrics:
      enabled: true
    rbac:
      create: true
