---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ./oauth-secret.sops.yaml
  - ./helmrelease.yaml
  # - ./virtual-service.yaml
  # - https://raw.githubusercontent.com/knative-extensions/monitoring/main/grafana/dashboards.yaml
  # - https://raw.githubusercontent.com/knative/docs/main/docs/serving/observability/metrics/collector.yaml
