# yaml-language-server: $schema=https://kubernetesjsonschema.dev/master-standalone-strict/_definitions.json
---
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: authentik-db
  namespace: authentik
spec:
  name: authentik
  owner: authentik
  cluster:
    name: authentik-db
