---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-image-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: flux2
      version: 2.17.2
      sourceRef:
        kind: HelmRepository
        name: fluxcd-community
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
    crds: CreateReplace
  uninstall:
    keepHistory: false
  values:
    # Only install image automation controllers
    imageReflectionController:
      create: true
    imageAutomationController:
      create: true
    # Disable other controllers (already installed via bootstrap)
    helmController:
      create: false
    kustomizeController:
      create: false
    notificationController:
      create: false
    sourceController:
      create: false
