---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - ./helmrelease.yaml
  - ./image-repositories.yaml
  - ./image-policies.yaml
  - ./image-update-automation.yaml
