#cloud-config
hostname: ${hostname}
locale: en_US.UTF-8
keyboard:
  layout: us
ssh:
  allow-pw: false
  install-server: true
storage:
  swap:
    size: 0
  layout:
    name: lvm
  config:
    - type: disk
      size: largest
disable_root: false
users:
  - name: root
    ssh_import_id: gh:enchantednatures
    ssh_authorized_keys:
        - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9/t0BbqMimWyLaEloDymPvycR881f93oxPZssyCa7j7ksEVrsj5IZsil/r9ESc2ZwAGePZJ4nRiEsIuVCiXEM2XTJfJZYl0DNA8MH/27bL8be4gJN/ZqlV2pM9Zq46OFmCbqJWP2s9LgMC275YU7xN+jQ1Qy4IjZ1vnK/DDpLkAmTWXYCn7XHUdPVHd7B1H6jMtH/BJiY2A6cOC3H6AhEtS9/h2GHJGVeyG206zXBfToHRM2B/hgi6T/CcM4MmKwn1sxHXkzlpKI8Yd+rMZn+8x1/c/TtrG8PafUJPPlOlN/VY0O2v/rocTtWHKY1t/bqqjSutZzKzu0MCzmqcdiS1jFyMw6u9S+2JWbBftb8BJxPLNc+JYN88VVGSk/iFLvJi6MA6/yhQxIA/hGVK8mnwdVN9zyMC3pokc296ksUD9po7EoKDbqKOrDjZOT6jCUZsBN4jlhcvjJQ/Xu2BrM5iu7mEcymhrrPxdCz6xGOW6tmJYvBzJrCnJdKRR2zLJ8= hcasten@Hunters-MacBook-Air.local
  - name: hcasten
    ssh_import_id: gh:enchantednatures
apt_upgrade: true
package_upgrade: true
package_reboot_if_required: true
packages:
  - build-essential
  - ca-certificates
  - apt-transport-https
  - net-tools
  - nfs-common
  - openssl
  - curl
  - ssh-import-id
  - qemu-guest-agent
runcmd:
  - [ 'systemctl', 'enable', 'qemu-guest-agent' ]
  - [ 'systemctl', 'start', 'qemu-guest-agent' ]
  - [ 'ssh-import-id', 'gh:enchantednatures' ]
  - ['sh', '-c', 'curl -fsSL https://tailscale.com/install.sh | sh']
  - ['tailscale', 'up', '-authkey=${tailscale_machine_key}']
