---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: openebs
      version: 4.4.0 # datasource=helm depName=openebs repository=https://openebs.github.io/charts
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: openebs-charts
        namespace: flux-system
  uninstall:
    keepHistory: false
  values:
    localpv-provisioner:
      rbac:
        create: true
      localpv:
        image:
          registry: quay.io/
          repository: openebs/provisioner-localpv
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: /var/openebs/local
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: false
          keep: false
    zfs-localpv:
      enabled: false
    lvm-localpv:
      enabled: false
    mayastor:
      enabled: false
    loki:
      enabled: false
    alloy:
      enabled: false
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
      replicated:
        mayastor:
          enabled: false
