---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ztunnel
  namespace: istio-system
spec:
  interval: 30m
  dependsOn:
    - name: istio-base
    - name: istio-cni
    - name: istiod
  chart:
    spec:
      chart: ztunnel
      version: 1.29.0 # datasource=helm depName=ztunnel repository=https://istio-release.storage.googleapis.com/charts
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  maxHistory: 2
  install:
    disableWait: true
    disableWaitForJobs: true
    remediation:
      retries: 3
  upgrade:
    disableWait: true
    disableWaitForJobs: true
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    logLevel: info
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: NotIn
              values:
              - work-00
              - work-03
