---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arango-deployment-operator
  namespace: arangodb
spec:
  template:
    spec:
      containers:
        - name: operator
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
