# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  # - ./open-webui/ks.yaml
  # - ./open-webui-pipelines/ks.yaml
  # - ./dbman/ks.yaml
  # - ./searxng/ks.yaml
  - ./sa.yaml
