# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gitea
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: gitea
      version: 11.0.0
      sourceRef:
        kind: HelmRepository
        name: gitea-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    replicaCount: 2
    image:
      repository: gitea/gitea
      tag: "1.23.1"
      pullPolicy: IfNotPresent
    persistence:
      enabled: true
      claimName: gitea-data
      size: 50Gi
      storageClass: csi-nfs
      accessModes:
        - ReadWriteMany
    gitea:
      admin:
        existingSecret: gitea-admin-secret
      config:
        database:
          DB_TYPE: postgres
          HOST: gitea-db-rw.gitea.svc.cluster.local:5432
          NAME: gitea
          USER: gitea
          PASSWD:
            valueFrom:
              secretKeyRef:
                name: gitea-db-user
                key: password
          SSL_MODE: disable
        server:
          PROTOCOL: http
          DOMAIN: gitea.${SECRET_DOMAIN}
          ROOT_URL: https://gitea.${SECRET_DOMAIN}
          SSH_DOMAIN: gitea.${SECRET_DOMAIN}
          SSH_PORT: 22
          DISABLE_SSH: false
        service:
          DISABLE_REGISTRATION: false
          REQUIRE_SIGNIN_VIEW: false
        security:
          INSTALL_LOCK: true
      additionalConfigSources:
        - secret:
            secretName: gitea-admin-secret
    postgresql:
      enabled: false
    memcached:
      enabled: false
    service:
      http:
        type: ClusterIP
        port: 3000
      ssh:
        type: ClusterIP
        port: 22
    ingress:
      enabled: true
      className: istio
      annotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: letsencrypt-production
        external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        external-dns/is-public: "true"
      hosts:
        - host: &host gitea.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts: [*host]
          secretName: gitea-tls
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 1Gi
