---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: node-healthcheck-manager
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - create
      - get
  - apiGroups:
      - ""
    resources:
      - nodes
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
      - clusterroles
    verbs:
      - '*'
  - apiGroups:
      - remediation.medik8s.io
    resources:
      - nodehealthchecks
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - remediation.medik8s.io
    resources:
      - nodehealthchecks/finalizers
    verbs:
      - update
  - apiGroups:
      - remediation.medik8s.io
    resources:
      - nodehealthchecks/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - self-node-remediation.medik8s.io
    resources:
      - selfnoderemediations
      - selfnoderemediationtemplates
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - fence-agents-remediation.medik8s.io
    resources:
      - fenceagentsremediations
      - fenceagentsremediationtemplates
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
