# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./tekton-pipelines/ks.yaml
  - ./dashboard/ks.yaml
  # - ./ci/ks.yaml
  # - ./config/opentofu-backend-config.yaml
