# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/persistentvolumeclaim.json
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-media
  namespace: immich
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 100Gi # todo: if this works, this should be 2+ tb
