# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/persistentvolumeclaim.json
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: inspircd-data-pvc
  labels:
    app: inspircd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: csi-nfs
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: inspircd-logs-pvc
  labels:
    app: inspircd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: csi-nfs
