# yaml-language-server: $schema=https://kubernetesjsonschema.dev/master-standalone-strict/_definitions.json
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: kafka
  namespace: kafka
  labels:
    strimzi.io/cluster: snail
spec:
  replicas: 5
  roles: [broker, controller]
  storage:
    type: persistent-claim
    size: 10Gi
    class: csi-nfs
  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 4Gi
      cpu: 2000m
  template:
    pod:
      metadata:
        labels:
          app: kafka
      spec:
        containers:
          - name: kafka
            resources:
              requests:
                memory: 2Gi
                cpu: 500m
              limits:
                memory: 4Gi
                cpu: 2000m
