---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: kafka
  namespace: kafka
  labels:
    strimzi.io/cluster: snail
spec:
  replicas: 5
  roles: [broker, controller]
  storage:
    type: persistent-claim
    size: 10Gi
    class: csi-nfs
  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 4Gi
      cpu: 2000m
