# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: strimzi-kafka-operator
  namespace: kafka
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: strimzi-kafka-operator
      version: 0.50.0
      sourceRef:
        kind: HelmRepository
        name: strimzi
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    watchAnyNamespace: true
    fullReconciliationIntervalMs: 120000
    operationTimeoutMs: 300000
    kubernetesServiceDnsDomain: cluster.local
    # featureGates: "+UnidirectionalTopicOperator"
    tmpDirSizeLimit: 1Mi
    dashboards:
      enabled: true
    resources:
      requests:
        memory: 384Mi
        cpu: 200m
    livenessProbe:
      initialDelaySeconds: 10
      periodSeconds: 30
    readinessProbe:
      initialDelaySeconds: 10
      periodSeconds: 30
