# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/networking.istio.io/destinationrule_v1.json
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: influxdb
  namespace: monitoring
spec:
  host: influxdb-influxdb2.monitoring.svc.cluster.local
  trafficPolicy:
    connectionPool:
      http:
        http1MaxPendingRequests: 100
        maxRequestsPerConnection: 10
        maxRetries: 3
