---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: harbor-db
  namespace: harbor
  labels:
    app.kubernetes.io/name: harbor-db
spec:
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql versioning=redhat
  imageName: ghcr.io/cloudnative-pg/postgresql:17.1-1
  inheritedMetadata:
    annotations:
      sidecar.istio.io/inject: "false"
  instances: 3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 10Gi
    storageClass: csi-nfs
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "2Gi"
      cpu: "1000m"
  enableSuperuserAccess: true
  superuserSecret:
    name: postgres-superuser
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
  monitoring:
    enablePodMonitor: true
  managed:
    roles:
      - name: hunter
        ensure: present
        comment: Hunter
        login: true
        superuser: true
        passwordSecret:
          name: harbor-db-hunter
        inRoles: [pg_monitor, pg_signal_backend]
      - name: harbor
        ensure: present
        comment: harbor
        login: true
        superuser: false
        passwordSecret:
          name: harbor-db-user
        inRoles: [pg_monitor, pg_signal_backend]
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: minio-store
        serverName: &currentCluster harbor-v3
  bootstrap:
    recovery:
      source: &previousCluster harbor-v0
      database: registry
      owner: harbor
      secret:
        name: harbor-db-user
  externalClusters:
    - name: *previousCluster
      barmanObjectStore:
        destinationPath: s3://cloudnative-pg/
        endpointURL: http://minio-service.networking.svc.cluster.local:9768
        s3Credentials:
          accessKeyId:
            name: pg-backup-secret
            key: aws-access-key-id
          secretAccessKey:
            name: pg-backup-secret
            key: aws-secret-access-key
        wal:
          compression: bzip2
