---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cloudflared/ks.yaml
  - ./external-dns/ks.yaml
  - ./k8s-gateway/ks.yaml
  - ./nginx/ks.yaml
  - ./tailscale-operator/ks.yaml
  - ./tailscale-connector/ks.yaml
  - ./external-services/ks.yaml
