# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/apps/v1/deployment.json
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipelines
  labels:
    app: pipelines
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pipelines
  template:
    metadata:
      labels:
        app: pipelines
    spec:
      containers:
        - name: pipelines
          image: ghcr.io/open-webui/pipelines:main # {"$imagepolicy": "flux-system:open-webui-pipelines-main"}
          ports:
            - containerPort: 9099
          volumeMounts:
            - name: pipelines-storage
              mountPath: /app/pipelines
      volumes:
        - name: pipelines-storage
          persistentVolumeClaim:
            claimName: pipelines-pvc
