# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/persistentvolumeclaim.json
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pipelines-pvc
  namespace: default
  labels:
    app: open-webui
spec:
  storageClassName: csi-nfs
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 1Gi # Adjust storage size as needed
