# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/service.json
---
apiVersion: v1
kind: Service
metadata:
  name: pipelines-service
spec:
  selector:
    app: pipelines
  ports:
    - protocol: TCP
      port: 9099
      targetPort: 9099
  type: ClusterIP # Change to NodePort or LoadBalancer if needed
