---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cilium
  namespace: kube-system
spec:
  template:
    spec:
      containers:
      - name: cilium-agent
        args:
        - --config-dir=/tmp/cilium/config-map
        - --cni-exclusive=false