---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: openwebui-db
  labels:
    app.kubernetes.io/name: openwebui-db
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:17.1-1
  instances: 3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 2Gi
    storageClass: openebs-hostpath
  enableSuperuserAccess: true
  superuserSecret:
    name: openwebui-db-superuser
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
  monitoring:
    enablePodMonitor: true
  backup:
    retentionPolicy: 30d
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://cloudnative-pg/
      endpointURL: http://minio-service.networking.svc.cluster.local:9768
      # Note: serverName version needs to be incremented
      # when recovering from an existing cnpg cluster
      serverName: &currentCluster openwebui-v6
      s3Credentials:
        accessKeyId:
          name: openwebui-pg-secret
          key: aws-access-key-id
        secretAccessKey:
          name: openwebui-pg-secret
          key: aws-secret-access-key
  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  bootstrap:
    # initdb:
    #   database: app
    #   owner: app
    #   secret:
    #     name: openwebui-app-user
    #   postInitTemplateSQL: []
    recovery:
      source: &previousCluster openwebui-v5
      database: app
      owner: app
      secret:
        name: openwebui-app-user
  externalClusters:
    - name: *previousCluster
      barmanObjectStore:
        <<: *barmanObjectStore
        serverName: *previousCluster
