# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: open-webui
  namespace: default
resources:
  - ./deployment.yaml
  - ./service.yaml
  - ./pvc.yaml
  - ./secret.sops.yaml
  - ./dragonfly.yaml
  - ./cluster.yaml
  - ./db-service.yaml
  - ./db-secret.sops.yaml
  - ./db-user.sops.yaml
  - ./scheduled-backup.yaml
  - ./superusersecret.sops.yaml
  - ./config-map.yaml
  - ./virtualservice.yaml
