---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redpanda
  namespace: redpanda
spec:
  interval: 30m
  timeout: 60m
  chart:
    spec:
      chart: operator
      version: 25.3.1
      sourceRef:
        kind: HelmRepository
        name: redpanda-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
    # Disable remediation to avoid continuous retries during timeout
    disableWait: false
  uninstall:
    keepHistory: false
