# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.config.k8s.io/kustomization_v1beta1.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cloudflared/ks.yaml
  - ./external-dns/ks.yaml
  - ./k8s-gateway/ks.yaml
  - ./services/ks.yaml
  - ./tailscale-operator/ks.yaml
  - ./tailscale-connector/ks.yaml
