apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app console
  namespace: redpanda
spec:
  interval: 30m
  chart:
    spec:
      chart: console
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: redpanda-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    console:
      config:
        kafka:
          brokers:
            # - kafka-kafka-bootstrap.snail.svc.cluster.local:9092
            - snail-kafka-bootstrap.kafka.svc.cluster.local:9092
    ingress:
      enabled: false
      className: external
      annotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: letsencrypt-production
        external-dns/is-public: "true"
        external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
      hosts:
        - host: &host console.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: console-tls
          hosts:
            - *host

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
