---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app node-red
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: home-assistant
      namespace: home-automation
    - name: volsync
      namespace: storage
  uninstall:
    keepHistory: false
  values:
    controllers:
      node-red:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/nodered/node-red
              tag: 4.1.3@sha256:41d0985765046e18be11ccc18e839d3d4c09ba122a85ebec96aaa8f77bae0384
            env:
              TZ: "${TIME_ZONE}"
              NODE_RED_ENABLE_PROJECTS: "true"
              NODE_RED_ENABLE_SAFE_MODE: "false"
              NODE_RED__INSTANCE_NAME: NodeRed
              NODE_RED__PORT: &port 1880
              NODE_RED__APPLICATION_URL: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
              NODE_RED__LOG_LEVEL: info
            resources:
              requests:
                memory: 350Mi
                cpu: 25m
              limits:
                memory: 600Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 150
        fsGroup: 140
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: node-red
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: false
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: node-red-tls
    persistence:
      data:
        existingClaim: node-red
