# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/persistentvolumeclaim.json
---
# https://kubernetes.io/docs/concepts/storage/persistent-volumes/
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: node-red
  namespace: home-system
spec:
  storageClassName: csi-nfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
