---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-cni
  namespace: istio-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: cni
      version: 1.28.2
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  maxHistory: 2
  install:
    disableWait: true
    disableWaitForJobs: true
    remediation:
      retries: 3
  upgrade:
    disableWait: true
    disableWaitForJobs: true
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    cni:
      ambient:
        enabled: true
        dnsCapture: true
        ipv6: true
      chained: true
      cniBinDir: /opt/cni/bin
      cniConfDir: /etc/cni/net.d
      cniConfFileName: "05-cilium.conflist"
      reconcileInterval: "300s"
      logLevel: warn
      repair:
        enabled: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                - work-00
                - work-03
    global:
      meshID: enchantednatures
