# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/secret.json
---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-kube-prometheus-stack-config
  namespace: monitoring
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
    route:
      receiver: discord
      group_by:
        - alertname
        - namespace
        - severity
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      routes:
        - receiver: discord
          matchers:
            - severity =~ "warning|critical"
    receivers:
      - name: discord
        discord_configs:
          - webhook_url: "${DISCORD_WEBHOOK_URL}"
            title: "{{ .GroupLabels.alertname }}"
            message: |
              {{ range .Alerts }}
              **Alert:** {{ .Annotations.summary }}
              **Severity:** {{ .Labels.severity }}
              **Namespace:** {{ .Labels.namespace }}
              **Description:** {{ .Annotations.description }}
              **Started:** {{ .StartsAt.Format "2006-01-02 15:04:05" }}
              {{ end }}
            send_resolved: true
    inhibit_rules:
      - source_matchers:
          - severity = critical
        target_matchers:
          - severity = warning
        equal:
          - alertname
          - namespace
