---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/secret.json
apiVersion: v1
kind: Secret
metadata:
  name: arch-linux-cloud-init
  namespace: vms
type: Opaque
stringData:
  userdata: |
    #cloud-config
    users:
      - name: root
        ssh_authorized_keys:
          - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIxTgjULRWXIVTOieo1o/F+mlfWs2U2odOLjKp6BwJPU hcasten@seko
          - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9/t0BbqMimWyLaEloDymPvycR881f93oxPZssyCa7j7ksEVrsj5IZsil/r9ESc2ZwAGePZJ4nRiEsIuVCiXEM2XTJfJZYl0DNA8MH/27bL8be4gJN/ZqlV2pM9Zq46OFmCbqJWP2s9LgMC275YU7xN+jQ1Qy4IjZ1vnK/DDpLkAmTWXYCn7XHUdPVHd7B1H6jMtH/BJiY2A6cOC3H6AhEtS9/h2GHJGVeyG206zXBfToHRM2B/hgi6T/CcM4MmKwn1sxHXkzlpKI8Yd+rMZn+8x1/c/TtrG8PafUJPPlOlN/VY0O2v/rocTtWHKY1t/bqqjSutZzKzu0MCzmqcdiS1jFyMw6u9S+2JWbBftb8BJxPLNc+JYN88VVGSk/iFLvJi6MA6/yhQxIA/hGVK8mnwdVN9zyMC3pokc296ksUD9po7EoKDbqKOrDjZOT6jCUZsBN4jlhcvjJQ/Xu2BrM5iu7mEcymhrrPxdCz6xGOW6tmJYvBzJrCnJdKRR2zLJ8= hcasten@Hunters-MacBook-Air.local
    ssh_pwauth: true
    disable_root: false
    chpasswd:
      expire: false
      list:
        - root:archlinux
    package_update: false
    runcmd:
      - systemctl enable sshd
      - systemctl start sshd
