---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/secret.json
apiVersion: v1
kind: Secret
metadata:
  name: arch-linux-cloud-init
  namespace: vms
type: Opaque
stringData:
  userdata: |
    #cloud-config
    users:
      - name: root
        ssh_authorized_keys:
          - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIxTgjULRWXIVTOieo1o/F+mlfWs2U2odOLjKp6BwJPU hcasten@seko
    ssh_pwauth: true
    disable_root: false
    chpasswd:
      expire: false
      list:
        - root:archlinux
    package_update: false
    runcmd:
      - systemctl enable sshd
      - systemctl start sshd
