# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg
  namespace: flux-system
spec:
  dependsOn:
    - name: csi-driver-nfs
    - name: prometheus-operator-crds
  targetNamespace: cnpg-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/operators/cnpg-system/cloudnative-pg/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app barman-cloud-plugin
  namespace: flux-system
spec:
  dependsOn:
    - name: cloudnative-pg
  targetNamespace: cnpg-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/operators/cnpg-system/cloudnative-pg/barman-cloud-plugin
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
