---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname kube-state-metrics
  namespace: flux-system
spec:
  targetNamespace: monitoring
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/infra/monitoring/kube-state-metrics/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
