---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-db
  namespace: postgres
  labels:
    app.kubernetes.io/name: postgres-db
spec:
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql versioning=redhat
  imageName: ghcr.io/cloudnative-pg/postgresql:17.1-1
  inheritedMetadata:
    annotations:
      sidecar.istio.io/inject: "false"
  instances: 1
  primaryUpdateStrategy: unsupervised
  storage:
    size: 10Gi
    storageClass: openebs-hostpath
  enableSuperuserAccess: true
  superuserSecret:
    name: postgres-superuser
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
  monitoring:
    enablePodMonitor: true
  managed:
    roles:
      - name: hunter
        ensure: present
        comment: Hunter
        login: true
        superuser: true
        passwordSecret:
          name: db-hunter
        inRoles: [pg_monitor, pg_signal_backend]
      - name: spanner
        ensure: present
        comment: Spanner
        login: true
        superuser: false
        passwordSecret:
          name: spanner-db-user
        inRoles: [pg_monitor, pg_signal_backend]
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: minio-store
        serverName: postgres-v11
