---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-gateway
  namespace: istio-ingress
spec:
  replicas: 2
  selector:
    matchLabels:
      istio: gateway
      app: istio-gateway
  template:
    metadata:
      annotations:
        inject.istio.io/templates: gateway
      labels:
        istio: gateway
        app: istio-gateway
        sidecar.istio.io/inject: "true"
    spec:
      containers:
      - name: istio-proxy
        image: auto
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 2000m
            memory: 1024Mi
---
apiVersion: v1
kind: Service
metadata:
  name: istio-gateway
  namespace: istio-ingress
spec:
  type: ClusterIP
  selector:
    istio: gateway
    app: istio-gateway
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: https
    port: 443
    targetPort: 8443
    protocol: TCP
