---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-gateway
spec:
  interval: 30m
  chart:
    spec:
      chart: gateway
      version: 1.26.3
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    labels:
      istio: gateway
    service:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: external.${SECRET_DOMAIN}
        io.cilium/lb-ipam-ips: 192.168.1.226
      loadBalancerIP: 192.168.1.226
