---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home-system
spec:
  maxHistory: 2
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3 # datasource=helm depName=app-template repository=oci://ghcr.io/bjw-s
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  uninstall:
    keepHistory: false
  values:
    esphome:
      containers:
        app:
          image:
            repository: esphome/esphome
            # datasource=docker depName=esphome/esphome
            tag: 2026.1.5@sha256:75adfbe90d9afe52c5137decf8cf12369cee00b1acfe2a92e866bfe0d1887904
          env:
            ESPHOME_DASHBOARD_USE_PING: true
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 500Mi
            limits:
              memory: 4Gi
    service:
      app:
        controller: esphome
        ports:
          http:
            port: 6052
