---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kyverno.io/v1/clusterpolicy.json
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: replicate-ghcr-pull-secret
  annotations:
    policies.kyverno.io/title: Replicate GitHub Container Registry Pull Secret
    policies.kyverno.io/category: Best Practices
    policies.kyverno.io/severity: medium
    kyverno.io/kyverno-version: 1.9.0
    policies.kyverno.io/minversion: 1.6.0
    kyverno.io/kubernetes-version: "1.24"
    policies.kyverno.io/subject: Secret
    policies.kyverno.io/description: >-
      This policy replicates the docker-regcred image pull secret from the
      flux-system namespace to all newly created namespaces as ghcr-pull-secret,
      enabling pods to pull images from the GitHub Container Registry without
      per-namespace secret management.
spec:
  background: true
  rules:
    - name: generate-ghcr-pull-secret
      match:
        any:
          - resources:
              kinds:
                - Namespace
      exclude:
        any:
          - resources:
              names:
                - kube-system
                - kube-public
                - kube-node-lease
                - kyverno-system
                - flux-system
                - istio-system
                - rook-ceph
                - openebs-system
                - monitoring
                - knative-*
      generate:
        synchronize: true
        apiVersion: v1
        kind: Secret
        name: ghcr-pull-secret
        namespace: "{{request.object.metadata.name}}"
        clone:
          namespace: flux-system
          name: docker-regcred
