---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kyverno.io/v1/clusterpolicy.json
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: disallow-privileged-containers
  annotations:
    policies.kyverno.io/title: Disallow Privileged Containers
    policies.kyverno.io/category: Pod Security Standards (Baseline)
    policies.kyverno.io/severity: high
    kyverno.io/kyverno-version: 1.9.0
    policies.kyverno.io/minversion: 1.6.0
    kyverno.io/kubernetes-version: "1.24"
    policies.kyverno.io/subject: Pod
    policies.kyverno.io/description: >-
      Privileged containers share namespaces with the host system, eschew cgroup
      restrictions, and do not offer any security. They should be used exclusively for
      system containers. This policy ensures privileged containers are not allowed.
spec:
  validationFailureAction: enforce
  background: true
  rules:
    - name: check-privileged
      match:
        any:
        - resources:
            kinds:
            - Pod
      exclude:
        any:
        - resources:
            namespaces:
            - kube-system
            - kyverno-system
            - rook-ceph
            - openebs-system
            - istio-system
            - atuin
            - authentik
            - harbor
            - immich
            - open-webui
            - postgres
            - default
      validate:
        message: "Containers must run as non-root user"
        pattern:
          spec:
            =(securityContext):
              =(runAsNonRoot): "true"
            containers:
            - name: "*"
              =(securityContext):
                =(runAsNonRoot): "true"
    - name: check-init-containers
      match:
        any:
        - resources:
            kinds:
            - Pod
      exclude:
        any:
        - resources:
            namespaces:
            - kube-system
            - kyverno-system
            - rook-ceph
            - openebs-system
            - istio-system
      preconditions:
        all:
        - key: "{{ request.object.spec.initContainers[] || '' }}"
          operator: AnyNotIn
          value: [""]
      validate:
        message: "Init containers must run as non-root user"
        foreach:
        - list: "request.object.spec.initContainers"
          pattern:
            =(securityContext):
              =(runAsNonRoot): "true"
