# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app console
  namespace: redpanda
spec:
  interval: 30m
  timeout: 20m
  chart:
    spec:
      chart: console
      version: 3.3.0 # datasource=helm depName=console repository=https://charts.redpanda.com
      sourceRef:
        kind: HelmRepository
        name: redpanda-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    service:
      type: LoadBalancer
      annotations:
        external-dns.alpha.kubernetes.io/hostname: redpanda.${SECRET_DOMAIN}
        tailscale.com/expose: "true"
        tailscale.com/hostname: redpanda-console
    config:
      kafka:
        brokers:
          - redpanda-cluster.redpanda.svc.cluster.local:9092
    ingress:
      enabled: false
      className: tailscale
      annotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: letsencrypt-production
        external-dns/is-public: "true"
        external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
      hosts:
        - host: &host console.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: console-tls
          hosts:
            - *host

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
