---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flux-monitoring
  namespace: flux-system
spec:
  dependsOn:
    - name: kube-prometheus-stack
    - name: prometheus-operator-crds
      namespace: monitoring
      kind: HelmRelease
  targetNamespace: flux-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/flux-system/addons/monitoring
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
