---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app-cache authentik-dragonfly
  namespace: flux-system
spec:
  targetNamespace: authentik
  dependsOn:
    - name: dragonflydb
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app-cache
  path: ./kubernetes/apps/authentik/authentik/dragonfly/
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app-db authentik-db
  namespace: flux-system
spec:
  targetNamespace: authentik
  dependsOn:
    - name: cloudnative-pg
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app-db
  path: ./kubernetes/apps/authentik/authentik/db/
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: flux-system
spec:
  targetNamespace: authentik
  dependsOn:
    - name: authentik-dragonfly
    - name: authentik-db
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/authentik/authentik/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m

